<header id="header">

  <nav>
    {% for item in site.data.settings.menu %}
      <a href="{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>

  <h1><span><div class="site-name">
    <span>Robyn</span>
    <img class="mid-logo" src="assets/img/logo.png" width="136" height="153">
    <span>Sheldon</span>
  </div></span></h1>
  <p class="kicker">{{ site.data.settings.description }}</p>

 <div class="hero">
   <div class="hero-content">
     <p>“ Let the beauty that we love be what we do. </br>There are a hundred ways to kneel and kiss the ground. ” </p>
     <p class="quote"> - Rumi</p>
   </div>
 </div>

</header>
